extends ../layout.pug

block content 
    h2 #{cliente.nombre} #{cliente.apellidos}
    p Email: #{cliente.email}
    p Dirección: #{cliente.direccion}
    p Género: #{cliente.genero === 'm' ? 'Masculino' : 'Femenino' }
    p Cuota: #{cliente.cuota}
